**.svg
**.png
**.pdf


# latex
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.pdf
**/*.ppm
**.*~
**.*~*
**.*dvi
**.*fls
**.*fdb_latexmk
**.*swp
**.*swo
**.*idx
**.*ilg
**.*ind
**-blx.bib
**.bbl
**.blg
**.run.xml
**.bcf
**.maf
**.mtc*

# acronym
**.acn
**.acr
**.alg
**.glg
**.glo
**.gls
**.ist
